*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1000s linear;

}
section > div.naz {
    border: 1px solid black;
    padding: 12px ;
    width: 70%;
    height: fit-content;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(234, 121, 54, 1);
    
}
section > div.outline {
    outline: 1px solid orange;
    outline-offset: 8px;
}
section > div.naz > p{
    padding: 20px;
    font-size: 25px;
}
section > div.naz > p.d {
    color: rgb(248, 240, 240);
    font-weight: 500;
}
section > div.naz :hover{
    transform: translateY(-15px );
}